.container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.random {
    
    
}

.mainScreen {
    background-color: #BFC0C0;
    color: #2D3142;
    width: 400px;
    height: 300px;
    padding: 1em;
    border-radius: 5%;
    box-shadow: 0 0 10px 1px;
    color: #FFFFFF;
}

.title {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}

.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    gap: 1%;
}

#inputItem {
    width: 60%;
}

#inputPrice {
    width: 20%;
}

.userCart {
   height: 65%;
}

.cartItem {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    gap: 1%;
}

.listPanel {
   height: 15%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

button {
    background-color:#EF8354; ;
    color: #4F5D75;
    border: 0;
    border-radius: 5px;
}